body {
  background-color: #b1d5d1;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

#form {
  background-color: white;
  width: 90%;
  margin: auto;
}

.form-group {
  padding: 12px 0;
}

.form-label {
  float: left;
  width: calc(50% - 20px);
  text-align: right;
}

.form-control {
  float: right;
  width: calc(50% - 20px);
}
